<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByoOR3FYVlkQ-esBMQFUb8CpRZRBNkGpw</string>
	<key>GCM_SENDER_ID</key>
	<string>186794938284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstproject</string>
	<key>PROJECT_ID</key>
	<string>language-creeper</string>
	<key>STORAGE_BUCKET</key>
	<string>language-creeper.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186794938284:ios:7c7c83f2f0c9a09183b409</string>
	<key>DATABASE_URL</key>
	<string>https://language-creeper-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>